$white-color: white; 
$black-color: black;
$black-lighter-color: #333333;
$primary-color: #2AFA89;
$secondary-color: #0000FF;
$tertiary-color: #10133B;
$light-grey: #F9F9F9;

$vitavi-color: #5057f5;
$parentreprise-color: #6b3ca1;
